/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');


/* form */

label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
input[type='email'],
textarea {
  border-image: none;
  border: 1px solid #808080;
  width: 300px;
  border-radius: 3px;
}
input[type='email'] {
  height: 22px;
}
textarea {
  height: auto;
}
textarea:hover,
input:hover {
  border-color: black;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #808080;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  color: aliceblue;
  background: #4e75ff;
}
button:hover {
  background-color: #6c8cff;
}


/* gallery */

img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  flex-basis: calc(25% - (10px / 3));
}